@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1 class="bg-info text-white">Tutorials</h1>
    <a asp-page="Create" class="btn btn-secondary">Create a Tutorial</a>
    <a asp-page="Search" class="btn btn-secondary">Search a Tutorial</a>
</div>
